* {
    font-family: Helvetica;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #00ff00;
}

a {
    text-decoration: none;
    color:#00ff00;
    transition: 0.5s;
}

a:hover{
    background-color: transparent;
    color: #ff69b4;;
}